#app-bonds-point {
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-size: 12px;
}
#app-bonds-point .input-name {
	width: 300px
}
#app-bonds-point .table {
	display: table;
	border-collapse:separate;
    border-spacing: 0 5px;
}
#app-bonds-point .servant {
	width: 900px;
	clear: both;
	display:table-row;
}
#app-bonds-point .servant .no, #app-bonds-point .servant .name,
#app-bonds-point .servant .class, #app-bonds-point .servant .rarity,
#app-bonds-point .servant .bonds-list {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
}

#app-bonds-point .bonds {
	display:inline-block;
	float: left;
	margin: 0;
	font-size: 8px;
	height: 15px;
	padding: 2px;
	word-break: break-all;
	line-height: 1em;
}
#app-bonds-point .bonds1 {
	color: #eee;
	background-color: #57f;
}
#app-bonds-point .bonds2 {
	background-color: #3c6;
}
#app-bonds-point .bonds3 {
	background-color: #bd0;
}
#app-bonds-point .bonds4 {
	background-color: #ff6;
}
#app-bonds-point .bonds5 {
	background-color: #f63;
}
#app-bonds-point .bonds-invisible {
	display: none;
}
#app-bonds-point .bonds6, #app-bonds-point .bonds8, #app-bonds-point .bonds10 {
	background-color: #eee;
}
#app-bonds-point .bonds7, #app-bonds-point .bonds9 {
	background-color: #ccc;
}

